name: Build (arch)

on:
    workflow_dispatch:
    push:

jobs:
    build-arch:
        runs-on: ubuntu-latest

        container:
            image: docker.io/archlinux:base-devel

        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Create build user
              run: |
                  useradd -m build
                  cp -vR arch /home/build/linux
                  chown -vR build /home/build/linux

            - name: Set up pacman keyring
              run: |
                  pacman-key --init
                  pacman-key --populate archlinux
                  mkdir -p /etc/gnupg && echo "auto-key-retrieve" >> /etc/gnupg/gpg.conf

            - name: Install dependencies
              run: |
                  pacman -Syu --noconfirm bc cpio gettext libelf pahole perl python rust rust-bindgen rust-src tar xz

            - name: Build linux package
              id: build-kernel-package
              shell: bash
              run: |
                  su build bash -c "cd /home/build/linux && MAKEFLAGS=-j$(nproc) makepkg -s"
                  . /home/build/linux/PKGBUILD
                  full_version=${pkgver}-${pkgrel}
                  echo "full_version=$full_version" >> "$GITHUB_OUTPUT"
