name: Build (Fedora)

on: push

jobs:
    build-rpm:
        runs-on: ubuntu-latest

        container:
            image: fedora:latest

        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Set up rpmbuild
              run: |
                  dnf -y builddep nobara/kernel.spec
