name: Build (Nobara)

on:
    workflow_dispatch:
    push:

jobs:
    build-rpm:
        runs-on: ubuntu-latest

        container:
            image: fedora:latest

        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Dependencies
              run: |
                  dnf -y builddep nobara/kernel.spec
            - name: build
              run: |
                  TOPDIR="$(pwd)/rpmbuild"

                  mkdir -p "$TOPDIR"/{BUILD,BUILDROOT,RPMS,SOURCES,SPECS,SRPMS}
                  cp nobara/* $TOPDIR/SOURCES

                  rpmbuild --define "_topdir $TOPDIR" -ba ./nobara/kernel.spec
