name: Build (ubuntu)

on:
    workflow_dispatch:
        inputs:
            ogc_version:
                description: 'Enter a released OGC kernel patch version in the format <kernel-version>-ogc<rev>'
                required: true

jobs:
    build-deb:
        runs-on: ubuntu-latest

        container:
            image: ubuntu:latest
            volumes:
                - /usr:/usr-host
                - /opt:/opt-host
            options: --privileged

        steps:
            - name: Maximize build space
              run: |
                  df -h
                  rm -rf /usr-host/share/dotnet
                  rm -rf /usr-host/share/swift
                  rm -rf /usr-host/share/java
                  rm -rf /usr-host/local/lib/android
                  rm -rf /opt-host/ghc
                  rm -rf /opt-host/hostedtoolcache
                  rm -rf /opt-host/az
                  df -h
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Dependencies
              run: |
                  export DEBIAN_FRONTEND=noninteractive
                  apt-get update -y
                  apt-get install -y build-essential devscripts debhelper dh-python asciidoc-base bc bison cpio dwarves flex kmod libdw-dev libiberty-dev libnuma-dev  libslang2-dev lz4 rsync wget xmlto git
                  apt-get install -y libunwind-dev libpfm4-dev coccinelle openjdk-17-jdk libcapstone-dev libbabeltrace-dev systemtap-sdt-dev libzstd-dev dwarves zstd libbfd-dev libperl-dev libssl-dev
            - name: Get sources
              run: |
                  # Grab input patch version from event
                  OGC_VERSION="${{ github.event.inputs.ogc_version }}"
                  REPO_OWNER="${{ github.repository_owner }}"

                  # Extract base kernel version from OGC version
                  KERNEL_VERSION=$(echo "$OGC_VERSION" | sed -E 's/^v([0-9]+\.[0-9]+\.[0-9]+)-.*/\1/')

                  wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-${KERNEL_VERSION}.tar.xz
                  wget https://github.com/${REPO_OWNER}/linux/releases/download/${OGC_VERSION}/monolithic.patch
                  tar -xf linux-${KERNEL_VERSION}.tar.xz
                  cd linux-${KERNEL_VERSION}
                  cp ../config .config
                  patch -Np1 < "../monolithic.patch"

                  # Save kernel version for next step
                  echo "KERNEL_VERSION=${KERNEL_VERSION}" >> $GITHUB_ENV
            - name: Build
              run: |
                  cd linux-${KERNEL_VERSION}
                  make olddefconfig
                  fakeroot make -j$(nproc) bindeb-pkg
